.layout {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: pink;
}

header ul {
    display: flex;
    gap: 1rem;
}

footer {
    text-align: center;
    background-color: pink;
}