.cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: #777777a9 solid 0.01em;
  border-radius: 1rem;
  box-shadow: 0.05em 0.2em 0.2em 0em #7777774f;
  padding: 1.5em;
  background-color: white;
  height: 10em;
}

.item-img {
  align-self: normal;
  width: 8em;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.item-title {
  width: 30%;
}

.item-img + .item-title {
  margin-left: 5%;
}

.item-quantity {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-title + .item-quantity {
  margin-left: 10%;
}

.cart-item-btns {
  overflow: hidden;
  border-radius: 1em;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.cart-item-btns button {
  color: white;
  border-radius: 0;
}

.item-price {
  width: 10%;
}

.item-quantity + .item-price {
  margin-left: 5%;
}

.item-trash {
  background-color: white;
  border: none;
  padding: 0;
  margin-left: 2em;
}

button:hover.item-trash {
  background-color: white;
}
