.loading {
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
  padding: 2em;
  box-shadow: 0.05em 0.2em 0.2em 0em #7777774f;
}
