.product {
  flex-basis: 0;
  width: 100%;
  min-width: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: #777777a9 solid 0.01em;
  border-radius: 1rem;
  box-shadow: 0.05em 0.2em 0.2em 0em #7777774f;
  padding: 1em;
  background-color: white;
}

.image-container {
  padding: 0.5rem;
}

.product img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  transition: transform 0.3s;
}

.product:hover img {
  transform: scale(1.1);
}

.product-info {
  text-align: center;
  width: 100%;
}

.product-title {
  font-weight: 600;
  text-align: start;
}

.product-buy {
  display: flex;
  justify-content: center;
  gap: 1em;
  width: 100%;
  min-height: 3.5em;
}

.count-input {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  max-width: 9em;
  border: #777777a9 solid 0.01em;
  width: 50%;
}

button.count-change {
  border-radius: 0;
  width: 100%;
  padding: 0.6em;
  color: white;
}

.product-buy input {
  width: 100%;
  border: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield; /* Chrome, Safari, Edge, Opera */
  text-align: center;
  font-weight: 700;
}
.product-buy > button {
  color: white;
  border: none;
}

.product-buy-item {
  width: 50%;
}

.add-button {
  padding: 0.5em;
}

.confirm-added {
  font-size: 0.9rem;
  color: green;
}
